.invoice-btn{
  color: rgb(3,155,229) !important;
  display: inline-block;
  line-height: 37px;
  padding: 0 20px;
  text-decoration: none;
  transition: background-color 250ms ease 0s;
}
.custom-width{
  width: 100px;
}
.address_align{
  text-align:center;
}
.colour_class{
  color: rgba(0,0,0,0.54);
}